<!-- Footer -->
<footer> 
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h3><i class="fa fa-map-marker"></i> Contact:</h3>
        <p class="footer-contact">
          <!-- {{ site.org_name }} <br> -->
          <!-- Phone: {{ site.telephone_number }} <br> -->
          <!-- Fax: {{ site.fax_number }} <br> -->
          Email: {{ site.org_email }}<br>
        </p>
      </div>
      <div class="col-md-5">
        <h3><i class="fa fa-external-link"></i> Links</h3>
        <p><a href="https://www.bath.ac.uk"> University of Bath</a></p>
        <p><a href="https://www.bath.ac.uk/research-institutes/institute-for-mathematical-innovation/"> Institute for Mathematical Innovation</a></p>
        <p><a href="https://www.lms.ac.uk/"> London Mathematical Society</a></p>
      </div>
	  
	  
      <div class="col-md-2">
        <h6 class="footer-credit"> Image credits: Luke Williams</h6>
      </div>
	  
    </div>
  </div>
</footer>